/*

# Exclude dirs
!/.github
!/src
!/test
!/docs

# Exclude files
!/.eslintignore
!/.eslintrc.json
!/.gitignore
!/.prettierrc.json
!/jest.config.json
!/package.json
!/package-lock.json
!/tsconfig.json
!/README.md
